/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  overflow-x: hidden;
}

#product-overview {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(155, 62, 62, 0.5)),
      to(transparent)
    ),
    url("images/freedom.jpg") top left/cover no-repeat border-box, #ff1b68;
  background: -o-linear-gradient(bottom, rgba(155, 62, 62, 0.5), transparent),
    url("images/freedom.jpg") top left/cover no-repeat border-box, #ff1b68;
  background: linear-gradient(to top, rgba(155, 62, 62, 0.5), transparent),
    url("images/freedom.jpg") top left/cover no-repeat border-box, #ff1b68;
  /* background-image: url("freedom.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box; */
  /* background-image: linear-gradient(100deg, purple, brown 30%); */
  width: 100vw;
  height: 33vh;
  padding: 1.25rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plans__list {
  /* width: 80%; */
  /* margin: 0 auto; */
  width: 100%;
  text-align: center;
}

.plan {
  /* display: inline-block; */
  /* width: 30%; */
  /* vertical-align: middle; */
  text-align: center;
  padding: 1rem;
  background: #d5ffdc;
}

.plan--highlighted {
  /* box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.5); */
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem 0rem;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted > .plan__title {
  color: white;
}

.plan--highlighted > .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0rem;
}

#key-features {
  /* height: 400px; */
  margin-top: 5rem;
  background: #ff1b68;
  padding: 2rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem 0;
}

.key-features__list {
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  /* display: inline-block; */
  /* width: 30%; */
  /* vertical-align: top; */
  margin: 5rem 0;
}

.key-feature__description {
  font-weight: bold;
  font-size: 1.2rem;
}

.key-feature__image {
  width: 158px;
  height: 158px;
  background: #ffcede;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
  padding: 1.5rem;
}

.modal {
  position: fixed;
  opacity: 0;
  -webkit-transform: translateY(-20rem);
  -ms-transform: translateY(-20rem);
  transform: translateY(-20rem);
  -webkit-transition: opacity 500ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 500ms ease-out, -webkit-transform 500ms ease-out;
  -o-transition: opacity 500ms ease-out, transform 500ms ease-out;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  transition: opacity 500ms ease-out, transform 500ms ease-out,
    -webkit-transform 500ms ease-out;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

@media (min-width: 768px) {
  /* >= 768px // Medium device breakpoint that Bootstrap uses */

  .plans__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 30%;
    border-radius: 0;
    min-width: 13rem;
    max-width: 25rem;
    height: 28rem;
  }

  .plan--highlighted {
    -webkit-box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.5);
    height: 30rem;
    z-index: 2;
  }

  #key-features {
    max-height: 400px;
  }

  .key-features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .key-feature {
    width: 30%;
    margin: 0;
    max-width: 25rem;
  }
}

@media (min-width: 40rem) and (min-height: 60rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 20%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1400px) {
  /* >= 1400px // Extra extra large device breakpoint that Bootstrap uses */
  /* #product-overview {
    height: 65vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 4rem;
  } */
}
