/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;400;700&family=Roboto&display=swap");

:root {
  --dark-green: #0e4f1f;
  --highlighted-color: #ff1b68;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-top: 3.5rem;
}

@supports (display: grid) {
  body {
    padding-top: 0;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3.5rem auto fit-content(8rem);
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  /* min-height: calc(100vh - 56px - 3.5rem); */
  /* margin-top: 3.5rem; */
  grid-area: main;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.button {
  background: var(--dark-green);
  color: white;
  font: inherit;
  padding: 0.5rem;
  border: 1.5px solid var(--dark-green);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: var(--dark-green);
}

.button:focus {
  outline: none;
}

.main-header {
  background-color: #2ddf5c;
  padding: 0.5rem 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
  margin: 0 1rem;
}

.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__item {
  margin: 0rem 2rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: bold;
  padding: 0.4rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta {
  -webkit-animation: wiggle 200ms 1s 2;
  animation: wiggle 200ms 1s 2;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  padding: 0.5rem 1rem;
  background-color: var(--highlighted-color, #ff1b68);
  color: white;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  border: 0;
  background-color: white;
  color: var(--highlighted-color, #ff1b68);
}

.mobile-nav {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  -o-transition: transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.main-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  background: black;
  grid-area: footer;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0rem;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.open {
  display: block !important;
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

@media (min-width: 768px) {
  /* >= 768px // Medium device breakpoint that Bootstrap uses */

  .toggle-button {
    display: none;
  }

  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-header__brand {
    margin: 0;
  }

  .main-footer {
    padding: 2rem;
  }

  .main-footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-footer__link {
    margin: 0rem 1rem;
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
}
